/* variables */
$navy: #1b1b32;
$pink: #cf649a;

/* mixins */
@mixin parallax {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}

@mixin responsive {
  max-width: 100%;
  height: auto;
}

@mixin flex-row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@mixin flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  color: #fff;
  background-color: $navy;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.para {
  @include parallax;
}

.change {
  color: $pink;
}

.responsive {
  @include responsive;
}

/* navigation */
nav {
  background-color: rgba(27, 27, 50, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 70px;
  transition: top 0.3s;

  display: grid;
  grid-template-columns: 2fr 9fr 2fr;

  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 10000;
}

nav ul {
  @include flex-row-evenly;

  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: $pink;
}

#logo a {
  font-family: "Concert One";
  font-size: 30px;
  line-height: 54px;
  text-decoration: none;
  color: #fff;
}

.social {
  @include flex-row-evenly;
  align-items: center;
}

/* main */
.container-center {
  @include flex-row-center;
}

h1 {
  margin-top: 185px;
  font-size: 100px;
}

#social-icons {
  @include flex-row-between;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#social-icons img {
  margin-right: 30px;
  margin-left: 30px;
}

.scroll-down {
  @include flex-column-center;
}

.scroll-down p {
  text-align: center;
}

/* about me */
/* projects */
/* contact */
