.table {
  border: 1px solid #000;
}

.table .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #000;
}

.table .day-food {
  border: 1px solid #000;
}
