/* variables */
$navy: #1b1b32;
$pink: #cf649a;

/* mixins */
@mixin parallax {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100%;
}

@mixin flex-row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@mixin flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  color: #fff;
  background-color: $navy;
  font-family: "K2D", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.para {
  @include parallax();
  // border-bottom: 1px solid $pink;
}

.change {
  color: $pink;
}

.change a {
  color: $pink;
  text-decoration: none;
}

/* navigation */
#navbar-mobile {
  display: none;
}

nav {
  background-color: rgba(27, 27, 50, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 70px;
  transition: top 0.3s;

  display: grid;
  grid-template-columns: 2fr 9fr 2fr;

  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 10000;
}

nav ul {
  @include flex-row-evenly();
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover {
  color: $pink;
}

img#logo {
  position: relative;
  top: 15px;
  left: 40px;
}

.social {
  @include flex-row-evenly();
  align-items: center;
}

.social img#email {
  margin-top: 6px;
}

/* main */
#main {
  text-align: center;
}

h1 {
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  font-size: 6.2vw;

  position: relative;
  left: 23%;
  text-align: left;
  margin-top: 150px;
}

// .txt-type::after {
//   content: "";
//   position: absolute;
//   top: 95px;
//   width: 60px;
//   // height: 70%;
//   border-bottom: 10px solid #fff;
//   animation: blink 0.7s infinite ease-in-out;
// }

#cursor {
  display: inline-block;
  width: 3.5vw;
  margin-left: 10px;
  border-bottom: 1vh solid #fff;
  animation: blink 0.7s infinite ease-in-out;
}

.center-container {
  @include flex-row-center();
  margin-top: 80px;
  margin-bottom: 80px;
}

.social-icons {
  @include flex-row-between();
  width: 25vw;
  // border: 1px solid #fff;
}

#main img {
  width: 24px;
  height: 24px;
}

.social-icons #mail {
  margin-top: 2px;
}

.scroll-down {
  @include flex-column-center();
  text-align: center;
  animation: float 1.5s ease-in-out infinite;
}

.scroll-down a {
  color: #fff;
  text-decoration: none;
}

/* about me */
h2 {
  color: $pink;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  animation: opacity 0.7s ease-in;
}

h3 {
  color: $pink;
  margin-top: 100px;
}

#about-me #description {
  font-size: 20px;
  text-align: center;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#about-me #skills {
  margin-left: auto;
  margin-right: auto;
  max-width: 816px;
}

#about-me .container-row {
  @include flex-row-between();
}

#about-me h4 {
  color: $pink;
}

#about-me ul {
  list-style-type: none;
}

#skills {
  margin-bottom: 65px;
}

#skills h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

#skills #desktop-os {
  display: block;
}

#skills #mobile-os {
  display: none;
}

/* projects */
.row-odd {
  @include flex-row-between();
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $pink;
}

.row-odd .project-container {
  text-align: right;
  max-width: 362px;
}

.row-odd .project-container .project-title {
  color: $pink;
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.row-odd .project-skills {
  margin-bottom: 30px;
}

.row-odd .project-description,
.project-skills {
  font-size: 15px;
}

.row-even {
  @include flex-row-between();
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $pink;
}

.row-even .project-container {
  text-align: left;
  max-width: 362px;
}

.row-even .project-container .project-title {
  color: $pink;
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.row-even .project-skills {
  margin-bottom: 20px;
}

.row-even .project-description,
.project-skills {
  font-size: 15px;
}

.row-odd .project-container .exteral-links img {
  margin-left: 20px;
}

.row-even .project-container .exteral-links img {
  margin-right: 20px;
}
/* contact */

#contact h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact #contact-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  line-height: 3em;
  margin-bottom: 50px;
}

/* media queries */

@media (max-width: 768px) {
  /* navigation */
  #burger-logo {
    position: fixed;
    text-align: center;
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: 1s ease-in-out;
    z-index: 100000;
  }

  #navbar {
    display: none;
  }

  #navbar-mobile {
    display: block;
    position: fixed;
    transition: 1s ease-in-out;
    min-height: 100%;
  }

  #navbar-mobile ul {
    @include flex-column-center();
    margin-top: 50px;
  }

  #navbar-mobile ul li {
    @include flex-column-center();
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #navbar-mobile ul li a {
    font-size: 30px;
  }

  /* main */
  .social-icons {
    width: 50vw;
  }

  /* about me */
  #about-me #description {
    font-size: 20px;
  }

  #about-me #skills {
    font-size: 10px;
  }

  #about-me #skills #deskstop-os {
    display: none;
  }

  #about-me #skills #mobile-os {
    display: block;
  }

  /* projects */
  #projects {
    @include flex-column-center();
  }

  #projects .row-odd,
  .row-even {
    @include flex-column-center();
  }

  /* contacts */
  #contact h2 {
    margin-bottom: 30px;
  }

  #contact p {
    font-size: 17px;
  }

  #contact #contact-container {
    margin-bottom: 20px;
  }
}

/* keyframes */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
